<!-- news section -->
<section class="news_sectoion">
    <h3>News</h3>
    <h1>Latest News</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="news_card">
                <div class="card_img">
                    <img src="../assets/img/news_img1.png" alt="">
                </div>
                <h3>Spain Appetizer</h3>
                <p>Quickly of predominate and standards
                    compliiants and an architectures.</p>
                <a href="">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="news_card">
                <div class="card_img">
                    <img src="../assets/img/news_img2.png" alt="">
                </div>
                <h3>Wine And Cheese</h3>
                <p>Quickly of predominate and standards
                    compliiants and an architectures.</p>
                <a href="">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="news_card">
                <div class="card_img">
                    <img src="../assets/img/news_img3.png" alt="">
                </div>
                <h3>Cups Of Coffee</h3>
                <p>Quickly of predominate and standards
                    compliiants and an architectures.</p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>
</section>