<footer class="container-fluid footer_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro_footer">
                    <img src="../assets/img/Group 271.png" alt="">
                    <p>Don't miss to subscribe to our new
                        feeds, Kindly fill the form bellow.</p>
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-md-4 col-4">
                        <div class="footer_links">
                            <h4>Our Menu</h4>
                            <ul>
                                <li><a href="">Lunch</a></li>
                                <li><a href="">Dinner</a></li>
                                <li><a href="">Catering</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="footer_links">
                            <h4>Links</h4>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Terms Of Use</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="footer_links">
                            <h4>Contach</h4>
                            <ul>
                                <li>+8801950403624</li>
                                <li>info@resturent.com</li>
                                <li>Rampura, Dhaka</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>