<!-- subscription_section -->
<section class="subscription_section">
    <h3>Subscription</h3>
    <h1>Wants to Get Update?</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 col-10">
            <div class="sub_form">
                <form>
                    <input type="email" placeholder="Enter Your Email Address">
                    <button type="submit"><img src="../assets/img/Component 1 – 1.png" alt=""></button>
                </form>
            </div>
        </div>
    </div>
</section>