<div class="container">
  <!-- Header -->
  <header>
    <div class="logo">
      <img src="../assets/img/Group 271.png" alt="">
    </div>

    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Join Us</a></li>
        <li><a href=""><i class="fas fa-shopping-cart">
              <span class="badge rounded-pill bg-secondary">1</span>
            </i></a>
        <li>
      </ul>
    </nav>
  </header>

  <!-- Header Post -->

  <section class="header_post row">
    <div class="header_post_content col-md-6">
      <h1>All in Good Taste Food With Figo.</h1>
      <p>Quickly predominate standard compliant architecture and may have prospective internal or organic sources. </p>
      <div class="get_started">
        <form>
          <input required class="get_started_email" placeholder="Enter Your Address" type="email" name="">
          <button class="get_started_button" type="submit">Get Started</button>
        </form>
      </div>
    </div>
    <div class="header_post_image col-md-6">
      <img src="../assets/img/Image.png" alt="pizza">
    </div>
  </section>

  <!-- Welcome Section -->

  <section class="welcome_section row">
    <div class="shape_img col-md-6">
      <img src="../assets/img/shape.png" alt="our shape image">
    </div>
    <div class="shape_content col-md-6">
      <h3>Welcome</h3>
      <h1>Welcome to Figo Restaurant </h1>
      <p>Quickly predominate standards compliants architectures and
        prospective internal or "organic" sources. Synergistically mesh
        quality quality vectors for one-to-one leadership.</p>
      <p>Quickly predominate standards compliants architectures and
        prospective internal or "organic" sources. Synergistically mesh
        quality quality vectors for one-to-one leadership.</p>
      <button type="button">Explore Our Story</button>
    </div>
  </section>

  <!-- browse section -->

  <section class="browse_section">
    <h3>Browse</h3>
    <h1>Explore Our Menu</h1>
    <div class="menu_content row">
      <div class="col-md-3">
        <div class="list">
          <ul>
            <li><a href="">Breakfast</a></li>
            <li><a href="">Lunch</a></li>
            <li><a href="">Dinner</a></li>
            <li><a href="">Desert</a></li>
            <li><a href="">Snack</a></li>
            <li><a href="">Drink</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="all_menu">
          <div class="row">
            <div class="col-md-4">
              <div class="menu_card">
                <img src="../assets/img/menu_img1.png" alt="">
                <h4>Chicken Massala</h4>
                <div class="ratting">
                  <input type="radio" name="star" id="star1"><label for="star1"></label>
                  <input type="radio" name="star" id="star2"><label for="star2"></label>
                  <input type="radio" name="star" id="star3"><label for="star3"></label>
                  <input type="radio" name="star" id="star4"><label for="star4"></label>
                  <input type="radio" name="star" id="star5"><label for="star5"></label>
                </div>
                <p>$100 <small><del>20</del></small></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="menu_card">
                <img src="../assets/img/menu_img2.png" alt="">
                <h4>Western Sunrise</h4>
                <div class="ratting">
                  <input type="radio" name="star" id="star1"><label for="star1"></label>
                  <input type="radio" name="star" id="star2"><label for="star2"></label>
                  <input type="radio" name="star" id="star3"><label for="star3"></label>
                  <input type="radio" name="star" id="star4"><label for="star4"></label>
                  <input type="radio" name="star" id="star5"><label for="star5"></label>
                </div>
                <p>$100 <small><del>20</del></small></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="menu_card">
                <img src="../assets/img/menu_img3.png" alt="">
                <h4>Sandwich Soup</h4>
                <div class="ratting">
                  <input type="radio" name="star" id="star1"><label for="star1"></label>
                  <input type="radio" name="star" id="star2"><label for="star2"></label>
                  <input type="radio" name="star" id="star3"><label for="star3"></label>
                  <input type="radio" name="star" id="star4"><label for="star4"></label>
                  <input type="radio" name="star" id="star5"><label for="star5"></label>
                </div>
                <p>$100 <small><del>20</del></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- history section -->
  <section class="history_section">
    <div class="row">
      <div class="col-md-6">
        <div class="history_content">
          <h3>History of Figo</h3>
          <h1>We Cook Tradition & Family Recipes</h1>
          <p>Quickly predominate standards compliants architectures and
            prospective internal or "organic" sources. Synergistically mesh
            quality quality vectors for one-to-one leadership.</p>
          <p>Quickly predominate standards compliants architectures and
            prospective internal or "organic" sources. Synergistically mesh
            quality quality vectors for one-to-one leadership.</p>
          <button type="button">Explore Our Story</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="history_img">
          <img src="../assets/img/barger.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- testimonials section -->
  <section class="testmonial_section">
    <h3>Testimonials</h3>
    <h1>Food Lover's Say</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="feedback_img">
          <img src="../assets/img/Feedback.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <app-news></app-news>
  <app-subscription></app-subscription>
</div>

<app-footer></app-footer>