<!-- history section -->
<section class="history_section">
    <div class="row">
        <div class="col-md-6">
            <div class="history_content">
                <h3>History of Figo</h3>
                <h1>We Cook Tradition & Family Recipes</h1>
                <p>Quickly predominate standards compliants architectures and
                    prospective internal or "organic" sources. Synergistically mesh
                    quality quality vectors for one-to-one leadership.</p>
                <p>Quickly predominate standards compliants architectures and
                    prospective internal or "organic" sources. Synergistically mesh
                    quality quality vectors for one-to-one leadership.</p>
                <button type="button">Explore Our Story</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="history_img">
                <img src="../assets/img/barger.png" alt="">
            </div>
        </div>
    </div>
</section>