@import "../../app.component.scss";

// history section
.history_section {
  .history_content {
    @include responsive(_phone) {
      text-align: center;
    }
    h1 {
      font-size: 40px;
      line-height: normal;
      padding-top: 20px;
      margin-bottom: 35px;
    }
    h3 {
      color: $sectionHeading;
      font-size: 28px;
      text-transform: capitalize;
    }
    p {
      font-size: 16px;
      line-height: normal;
    }
    button {
      border-radius: 5px;
      background: $buttonColor;
      border: $buttonBorderColor;
      box-shadow: $buttonBorderShadow;
      color: #fff;
      padding: 4%;
      font-weight: bold;
      @include responsive(_phone) {
        font-size: 13px;
      }
      margin-top: 30px;
      @include responsive(_phone) {
        margin-bottom: 15px;
      }
    }
  }
  .history_img {
    img {
      width: 100%;
    }
  }
}
